<a href="https://colab.research.google.com/github/mukanzi/2021Z-DataVisualizationTechniques/blob/master/MIS_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cleaning of MIS data to produce alumni contacts.

The below code is to clean MIS data so as to produce alumni contacts, name, phone number and email.

## Importing the data

In [1]:
import pandas as pd
df = pd.read_csv("/content/FINAL Flat Data Report.csv")
df.head ()

<ipython-input-1-0cfc695ec3b9>:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/FINAL Flat Data Report.csv")

,PEID,Case Number,Status,Name,Institution (Program) Name,Dismissal Reason,Scholar Start Date,Scholar End Date,Program Start Date,Graduation or Dismissal Date,...,Residing Country,Most Recent Secondary School,Date of Birth,Age at Enrollment,Current Age,Most Recent Scholar Phone,Most Recent Scholar WhatsApp Phone,Most Recent Scholar Email 1,Most Recent Scholar Email 2,Most Recent Scholar Inst Email
0,00023AAA-8EB2-4EEA-9FBF-3627E6FDD0F8,68188,Scholar,"Magwira, Chifuniro","Camfed, Malawi - Secondary Site",NaN,9/1/19,9/1/23,9/1/19,NaN,...,NaN,NaN,8/15/06,13.0,#ERROR,NaN,NaN,NaN,NaN,NaN
1,0003074A-58DB-443C-9ED4-F07A036E1004,47105,Scholar,"Dapilaa, Flavia","CAMFED, Ghana - Tertiary Site",NaN,9/1/18,9/1/22,9/1/18,NaN,...,NaN,NaN,3/19/91,27.0,#ERROR,NaN,NaN,NaN,NaN,NaN
2,00098F8F-CC5A-4C27-8519-00CB064FF9C5,47230,Scholar,"Ba Innimayeh, Vivian","CAMFED, Ghana - Tertiary Site",NaN,9/1/18,9/1/22,9/1/18,NaN,...,NaN,NaN,12/2/97,20.0,26,NaN,NaN,NaN,NaN,NaN
3,0009AA9F-6E08-4F1E-8AA5-896F37959FCC,23858,Alumni,"Bayor, Mildred","CAMFED, Ghana - Secondary Site",Graduated,9/1/15,9/1/18,9/1/15,9/1/18,...,NaN,NaN,9/12/99,15.0,23,NaN,NaN,NaN,NaN,NaN
4,000A6359-B4A2-461F-ABF8-15143C86039D,48633,Scholar,"BETTY, NAMATOVU","BRAC, Uganda - Secondary Site",NaN,2/4/19,2/4/23,2/4/19,NaN,...,NaN,NaN,1/1/99,20.0,24,NaN,NaN,NaN,NaN,NaN

In [10]:
df_alumni = df[df['Status']=='Alumni']
df_alumni.head()

,PEID,Case Number,Status,Name,Institution (Program) Name,Dismissal Reason,Scholar Start Date,Scholar End Date,Program Start Date,Graduation or Dismissal Date,...,Residing Country,Most Recent Secondary School,Date of Birth,Age at Enrollment,Current Age,Most Recent Scholar Phone,Most Recent Scholar WhatsApp Phone,Most Recent Scholar Email 1,Most Recent Scholar Email 2,Most Recent Scholar Inst Email
3,0009AA9F-6E08-4F1E-8AA5-896F37959FCC,23858,Alumni,"Bayor, Mildred","CAMFED, Ghana - Secondary Site",Graduated,9/1/15,9/1/18,9/1/15,9/1/18,...,NaN,NaN,9/12/99,15.0,23,NaN,NaN,NaN,NaN,NaN
13,001D7FCA-15A2-4F4B-A81A-A0F7BBD5BF0F,22500,Alumni,"Acquah, Emmanuella","CAMFED, Ghana - Secondary Site",Graduated,9/1/15,9/1/18,9/1/15,9/1/18,...,NaN,NaN,3/13/00,15.0,#ERROR,NaN,NaN,NaN,NaN,NaN
14,001D96D6-E332-42A8-92AA-E97E9508AE0F,57632,Alumni,"Athanas, Wilkister","Equity Group Foundation, Kenya",Graduated,1/1/14,1/1/17,1/1/14,1/1/17,...,NaN,NaN,4/5/99,14.0,24,NaN,NaN,NaN,NaN,NaN
16,001DF990-EF9D-45DA-A0F5-98A3D0EF3731,65555,Alumni,"Taulo, Hamidah","Camfed, Malawi - Secondary Site",Graduated,9/1/17,12/31/21,9/1/17,12/31/21,...,NaN,NaN,6/23/01,16.0,#ERROR,NaN,NaN,NaN,NaN,NaN
17,002152BD-7579-45D6-878E-7330829E6051,23090,Alumni,"Apinling, Alima","CAMFED, Ghana - Secondary Site",Graduated,9/1/15,9/1/18,9/1/15,9/1/18,...,NaN,NaN,6/7/98,17.0,25,NaN,NaN,NaN,NaN,NaN

Warning: Total number of columns (57) exceeds max_columns (20) limiting to first (20) columns.

In [7]:
df_alumni.shape

(19784, 57)

In [9]:
df_alumni.drop_duplicates()
df_alumni.shape

(19784, 57)

In [11]:
df_alumni.columns

Index(['PEID', 'Case Number', 'Status', 'Name', 'Institution (Program) Name',
       'Dismissal Reason', 'Scholar Start Date', 'Scholar End Date',
       'Program Start Date', 'Graduation or Dismissal Date', 'Site Name',
       'Scholar Gender', 'Country of Birth', 'Country of Citizenship',
       'Institution Country', 'Program Name', 'Tertiary or Secondary',
       'Area of Study', 'Primary Language', 'Additional Language',
       'Level of Study', 'Anticipated End Date of Program',
       'Recipient of a Mastercard Foundation Scholarship',
       'If yes, at what level(s)?',
       'If yes, through which program (or at which institution)?',
       'Recruitment method', 'Displaced', 'Disabled', 'Disability',
       'Scholar household at application: rural or urban', 'Give Back',
       'Give Back Activity', 'Transformative Leadership',
       'Transformative Leadership Detail', 'SEF', 'Baobob',
       'Did the Scholar win funds through the Scholars Research Fund this year?',
       'Scholars Council', 'Internship', 'Internship Sector',
       'Internship Location', 'Internship Industry', 'Internship Length',
       'Transitions Program', 'Transitions Program Duration',
       'Post Graduate Plans', 'Work Sector', 'Residing Country',
       'Most Recent Secondary School', 'Date of Birth', 'Age at Enrollment',
       'Current Age', 'Most Recent Scholar Phone',
       'Most Recent Scholar WhatsApp Phone', 'Most Recent Scholar Email 1',
       'Most Recent Scholar Email 2', 'Most Recent Scholar Inst Email'],
      dtype='object')

In [13]:
df_alumni_contacts = df_alumni[['Case Number','Status','Name', 'Most Recent Scholar Email 1', 'Most Recent Scholar Email 2','Most Recent Scholar Inst Email']]
df_alumni_contacts.head()

,Case Number,Status,Name,Most Recent Scholar Email 1,Most Recent Scholar Email 2,Most Recent Scholar Inst Email
3,23858,Alumni,"Bayor, Mildred",NaN,NaN,NaN
13,22500,Alumni,"Acquah, Emmanuella",NaN,NaN,NaN
14,57632,Alumni,"Athanas, Wilkister",NaN,NaN,NaN
16,65555,Alumni,"Taulo, Hamidah",NaN,NaN,NaN
17,23090,Alumni,"Apinling, Alima",NaN,NaN,NaN

In [17]:
df_alumni_contacts.shape

(19784, 6)

In [18]:
df_cleaned = df_alumni_contacts.dropna(subset=['Most Recent Scholar Email 1', 'Most Recent Scholar Email 2', 'Most Recent Scholar Inst Email'], how='all')
df_cleaned.shape

(5243, 6)

In [21]:
df_alumni_contacts.to_excel("Alumni_contacts_not_clean.xlsx")
df_cleaned.to_csv("Cleaned_alumni_Contacts.xlsx")